body {
    background-color: #FCE5D2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #294F8D;
}

#map {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

/* Gestion du style des infos du div de result */

#result {
    position: fixed;
    right: 0;
    top: 0;
    padding: 30px;
    border-radius: 15px;
    margin-right: 50px;
    margin-top: 25px;
    background-color: white;
    max-width: 30vw;
    box-shadow: 0 0 30px -15px  black;
}

#titreNomActeurResult {
    font-family: "Eczar";
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 1%;
}

#structure {
    font-size: 14px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.expertise {
    font-size: 14px !important;
    text-align: left;
    background-color: #BDB246;
    border-radius: 15px;
    color: #fff;
    padding: 0.1rem 0.7rem 0.2rem 0.7rem;
    width: fit-content;
    font-style: italic;
    margin-bottom: 5px;
}

#headerExpertise {
    font-size: 12px;
    margin-bottom: 0.5rem;
}

.logoLabel {
    width: 50px;
    height: auto;
}

.labelsContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 15px;
}
.coordonnees {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.iconCoords {
    color: #BDB246;
    margin-right: 10px;
    margin-top: 5px;
}

.dataToDisplay {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 16px;
}

#signataire {
    font-style: italic;
    margin-top: 20px;
    margin-left: -8px;
    font-size: 12px;
}

#feuilleCharte {
    transform: rotate(30deg);
    width: 35px;
}

.ouvertureResult {
    animation: ouvertureResult 500ms ease-in forwards;
}
@keyframes ouvertureResult {
    0% {max-width: 0; max-height: 0; opacity: 0;}
    100% {max-width: 100vw; max-height: 100vh; opacity: 1;}
}
.fermetureResult {
    animation: fermetureResult 500ms ease-out forwards;
}
@keyframes fermetureResult {
    0%{max-width: 100vw; max-height: 100vh; opacity: 1;}
    100%{max-width: 0; max-height: 0; opacity: 0;}
}

/* Gestion du CSS du popup on Hover */

.popupOnHover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-family: 'Roboto' !important;
}

.popupTitle {
    font-family: "Eczar" !important;
    font-weight: 600;
    font-size: 16px !important;
    margin-bottom: 1%;
    color: #294F8D;
}

.filtresPopup {
    font-size: 10px !important;
    text-align: left;
    background-color: #BDB246;
    border-radius: 15px;
    color: #fff;
    padding: 0.05rem 0.5rem 0.1rem 0.5rem;
    width: fit-content;
    font-style: italic;
    margin-bottom: 5px;
}

/* Gestion du CSS du gdDiv */

.bigContainer {
    position: fixed;
    background-color: #fff;
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 465px;
    box-shadow: 0 0 30px -15px  black;
}

#titreDePage {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Eczar' !important;
    font-size: 34px !important;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    cursor: pointer;
}

#PagesVertes-description {
    font-family: "Maitree";
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: 200;
}

#logo-site {
    width: 30px;
    height: auto;
    margin-right: 15px;
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1.3em;
    overflow: visible;
    vertical-align: -0.2rem;
}

.derouleurCheckboxes {
    background-color: transparent;
    border: medium none;
    cursor: pointer;
    font-weight: 400 !important;
    opacity: 0.6;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;

    transition: all 0.2s ease-in-out 0s;
}
.derouleurCheckboxes:hover {
    opacity: 1;
}
.titreDerouleur {
    margin-left: 40px;
    font-family: 'Roboto';
}

/* Gestion du CSS des checkboxes */

.checkmark {
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 2px;
    position: absolute;
    left: 4px;
}
.checkboxContainer:hover input ~ .checkmark {
    background-color: #ccc;
}
.checkboxContainer input:checked ~ .checkmark {
    background-color: #BDB246;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 5.25px;
    top: 2.5px;
}
.checkboxContainer input:checked ~ .checkmark:after {
    display: block;
}
.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1.3em;
    overflow: visible;
}
#iconeCharte {
    max-width: 40px;
    height: auto;
    transform: rotate(30deg);
    position: absolute;
    right: 88px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    font-weight: 275 !important;
    font-size: 15px;
    color: black;
}
.checkboxContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    opacity: 0.65;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 5px;
    position: relative;
}
.checkboxContainer:hover {
    opacity: 1;
}
.checkboxText {
    text-align: left;
    margin-left: 12px;
}
#checkContainer {
    background-color: #FCFAFA;
    border-radius: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px 20px 5px 20px;
    margin-bottom: 25px;
    width: 400px;
}

.ouvert {
    transform: scaleY(1);
    animation: ouvert 0.1s;
    max-height: fit-content;
}

@keyframes ouvert {
    from {
        transform: scaleY(0);
        max-height: 0;
    }
    to {
        transform: scaleY(1);
        max-height: 120px;
    }
}

.ferme {
    transform: scaleY(0);
    animation: ferme 0.1s;
    max-height: 0;
}

@keyframes ferme {
    from {
        transform: scaleY(1);
        max-height: 120px;
    }
    to {
        transform: scaleY(0);
        max-height: 0;
    }
}

.download_picto {
    cursor: pointer;
    width: 3vmax;
}

.leaflet-control-zoom {
    display: none;
}

/* Style du bouton réinitialiser les filtres */

#reinit {
    font-size: 12px;
    margin-bottom: 12px;
    text-decoration: underline;
    cursor: pointer;
}

#reinit:hover {
    opacity: 0.5;
}

/* Style du boutn download data */

#download {
    font-size: 12px;
    opacity: 0.6;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFAFA;
    border-radius: 10px;
    padding: 7px 12px 7px 12px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    margin-bottom: 15px;
    margin-top: 15px;
}

#iconDownload {
    margin-right: 15px;
}

#download:hover {
    opacity: 1;
}

#download:active{
    box-shadow: inset 0px 1px 4px rgba(0,0,0,0.25);
}

#webLink {
    font-size: 12px;
    width: fit-content;
    opacity: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFAFA;
    border-radius: 10px;
    padding: 7px 12px 7px 12px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    margin-bottom: 15px;
    margin-top: 15px;

    align-self: center;
    text-decoration: none;
    color: #294F8D;
}
#webLink:hover {
    opacity: 0.6;
}
#webLink:active{
    box-shadow: inset 0px 1px 4px rgba(0,0,0,0.25);
}

/* Gestion des tooltips */

.tooltip .tooltipText {
    visibility: hidden;
    background-color: #78BCED;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    cursor: auto;


    /* voir le positionnement par rapport à la checkbox*/
    position: absolute;
    left: 100%;
    top: auto;
    z-index: 3000;
    width: auto;
    opacity: 0.95;
}

.tooltip-info-logo:hover ~ .tooltipText {
    visibility: visible;
}

.tooltipText:hover {
    visibility: visible;
}

.textTooltipText {
    width: 400px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
}

.headerTooltip {
    font-size: 16px;
    font-weight: 800;
}

.tooltip-info-logo {
    position: absolute;
    right: 0;
}


/* style de la searchBox */

.leaflet-control-search {
    border: none !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
    box-shadow: 0 0 30px -15px black;
}

.search-exp {
    animation: 0.3s ouvertureSearch !important;
}

.search-input {
    border: none !important;
    font-family: 'Roboto';
    font-size: 16px;
    margin-right: 10px !important;
    font-weight: 200;
    animation: 0.4s ouvertureInputSearch !important;
    outline: none;
}

@keyframes ouvertureSearch {
    0% { max-width: 120px; min-width: 0;}
    100% {max-width: 100%;}
}

@keyframes ouvertureInputSearch {
    0% { max-width: 0; }
    50% { max-width: 50%;}
    100% { max-width: 100%;}
}

.search-input::placeholder {
    opacity: 0.2;
}

.search-cancel {
    right: 50px !important;
}

.search-tooltip {
    animation: 0.1s ouvertureTooltipSearch;
}

@keyframes ouvertureTooltipSearch {
    0% {max-height: 0%;}
    100% {max-height: 100px}
}

.search-tip {
    padding-left: 15px !important;
}

/* Gestion du style du contenu du bigContainer */

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.derouleur-contenu {
    background-color: transparent;
    border: medium none;
    cursor: pointer;
    font-weight: 400 !important;
    opacity: 0.6;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;

    transition: all 0.2s ease-in-out 0s;
}
.derouleur-contenu:hover {
    opacity: 1;
}


/* Gestion du design responsive */

@media all and (max-width: 400px) {
    .bigContainer {
        width: 100vw;
    }
}
