<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pages Vertes Update Data</title>
</head>
<body>

    <h1>Mise à jour des données de Pages Vertes</h1>
    <p>Attention ! La mise à jour des données peut prendre quelques minutes !</p>
    <p>Si le mot de passe est bon, la page charge pendant quelques minutes, le processus de mise à jour des données est lancé, sinon la p</p>


    <form action="" method="post">
        <p>Entrez le mot de passe :</p>
        <p><input type="password" name="pw" id="pw"></p>
        <p><input type="submit" value="submit"></p>
    </form>
    
</body>
</html>